h1 {
	font-family: Arial;
	text-align: center;
	color: black;
}
p {
	font-family: Calibri;
}
#intro {
	text-align:center;
	text-align:center;
}
#smoltext {
	font-size:10px;
	text-align: center;
}
#wishes {
	height:665px
}